@import "tailwindcss";
@plugin "daisyui";


@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}



@theme {

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-mine-black : #000000;
  --color-mine-white : #ffffff;

  --color-mine-red : #E51D1B;
  --color-mine-bordeau : #750302;
  --color-mine-redlight : #fce8e8;


  --color-mine-yellow : #FFE400;
  --color-mine-opacitymine : #fff;

  --font-display : 'Montserrat';

  --radius-mine-rounded : 25px;
  --radius-mine-sub-rounded : 15px;
  --radius-mine-little-rounded : 5px;

}

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: Montserrat;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
